<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table class="table">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <thead>
            <tr>
                <th scope="col">Email Addresses Entered</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for one_email in email %}
            <tr>
                <td>{{ one_email['email'] }}</td>
                <td>{{ one_email['created_at'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>





</body>

</html>