<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Edit User {{users[0]['id']}}</h1>
        <div>
            <form action="/user/editing" method="POST">
                <label for="first_name">First Name</label>
                    <input type="text" name="first_name" value="{{users[0]['first_name']}}">
    
                <label for="last_name">Last Name</label>
    
                    <input type="text" name="last_name" value="{{users[0]['last_name']}}">
    
                <label for="email">Email</label>
    
                    <input type="email" name="email" value="{{users[0]['email']}}">
    
                <input type="submit">
                <input type="hidden" name="hidden" value="{{users[0].id}}">
            </form>
        </div>
    </div>
</body>
</html>