<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The kid who cried Shiba</title>
</head>
<body>
    <h1>The kid who cried, "Shiba!"</h1>
    <p>There once was a kid named Jamie who lived in a pinapple under the sea. One day, Jamie saw a...</p>
    <a href="http://localhost:5000/rabbit">rabbit</a>
    <a href="http://localhost:5000/snail">snail</a>

</body>
</html>