<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class="container-fluid">
    <div class="mt-4 ">
        <div class="container">
            <p class="d-inline mt-2 mr-2 ml-4">Your Gold:</p>
            <p class="border border-dark d-inline p-2" style='width:300px'>Jinja Statement for gold</p>
            <a href="###" class="btn btn-danger d-inline align-center">Reset</a>
        </div>







        <div class="row mt-3">
            <div class="col border border-dark rounded mr-3 ml-3 p-3">
                <h3>Farm</h3>
                <p>(earns 10-20 golds)</p>
                <a href="###" class="btn btn-outline-success mt-4 mb-5">Find Gold!</a>
            </div>
            <div class="col border border-dark rounded mr-3 ml-3 p-3">
                <h3>Cave</h3>
                <p>(earns 5-10 golds)</p>
                <a href="###" class="btn btn-outline-primary mt-4 mb-5">Find Gold!</a>
            </div>
            <div class="col border border-dark rounded mr-3 ml-3 p-3 ">
                <h3>House</h3>
                <p>(earns 2-5 golds)</p>
                <a href="###" class="btn btn-outline-dark mt-4 mb-5">Find Gold!</a>
            </div>
            <div class="col border border-dark rounded mr-3 ml-3 p-3">
                <h3>Casino</h3>
                <p>(earns/takes 0-50 golds)</p>
                <a href="###" class="btn btn-outline-warning mt-4 mb-5">Find Gold!</a>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <p class="p-0 m-0">Activities</p>
        <div class="container-fluid border border-dark overflow-auto" style="height:300px">
            <p class="ml-2 scrollspy overflow-auto">
                <p> Loop </p>
                <p> Jinja statements here</p>
                <p> Jinja statements here</p>
                <p> Jinja statements here</p>
                <p> Jinja statements here</p>
            </p>
        </div>
    </div>
</body>
</html>